
*{
    font-family: 'Montserrat';
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
}

.container-flex{
    display: flex;
    background-color: white;
    width: 40rem;
    height: 30rem;
    border-radius: 15px;
    margin: 1rem;
}

.left{
    width: 50%;
}
.right{
    width: 50%;
}

.container-right{
    display: flex;
    flex-direction: column;
    margin: 30px 30px;
}

.perfume{
    font-size: 15px;
    font-weight: 1000;  
    color: hsl(228, 12%, 48%);
    margin-bottom: 0;
}

.container-right_p{
    line-height: 1.6;
    color: hsl(228, 12%, 48%);
    font-size: .9rem;
    font-weight: 1000;
    margin-right: 1rem;
}

.container-right h2{
    font-family: 'Fraunces';
    font-weight: 1000;
    font-size: 2rem;
    line-height: 1;
    margin-bottom: .5rem;
}

.prezzi{
    display: grid;
    content: center;
    grid-template-columns: 1fr 1fr;
}

.prezzi h2{
    color: hsl(158, 36%, 37%);
    margin-top: 1.3rem;
}

.prezzi h4{
    margin-top: 30px;
    margin-left: 2px;
    margin-bottom: 0;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-size: .8rem;
}

.img-left{
    width: 100%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.boton{
    display: flex;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    justify-content: center;
    color: white;
    transition-property: background;
    transition-duration: .5s;
    font-weight: 1000;
    margin-top: 1.3rem;
}

.logo-shop{
    width: 20px;
    height: 20px;
    align-self: center;
    margin-right: 10px;
}

.boton:hover{
    background: green;

}

.img-left-mobile{
    visibility: hidden;
    position: absolute;
    width: 0px;
}

.h2-mobile{
    visibility: hidden;
    position: absolute;

}

@media only screen and (max-width: 650px){

    .right{
        display: flex;
        background-color: white;
        border-radius: 15px;
    }

    .container-flex{
        flex-direction: column;
        width: 21.5rem;
        height: 40.5rem;
    }

    .container-right{
        margin-top: .5rem;
    }

    .perfume{
        margin-bottom: 1rem;
    }
    
    .img-left{
        visibility: hidden;
        position: absolute;
        width: 1px;
    }

    .img-left-mobile{
        visibility:visible;
        position: static;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }

    .h2-desktop{
        visibility: hidden;
        position: absolute;
    }

    .h2-mobile{
        visibility: visible;
        position: static;
        margin-top: 0;
    }

    .main{
        width: 100%;
    }

    .container-right_p{
        margin-bottom: 0;
        margin-right: 0;
    }
}